<div id="simple-modal">
    <div class="simple-modal-content">

        <b>Are you sure?</b>
        <br><br>

        <a href ng-click="ok()" id="simple-modal-ok">Yes</a>
        <a href ng-click="cancel()" id="simple-modal-cancel">No</a>

    </div>
</div>

