<div>
    <form>
    <table id="table">
        <tr>
            <td>Name: </td>
            <td>
                <input name="name-input" id="name-input" ng-model="vm.newContact.name"></a>
            </td>
        </tr>
        <tr>
            <td>Phone: </td>
            <td>
                <input name="phone-input" id="phone-input" ng-model="vm.newContact.phone">
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="vm.addNew()" id="save-link">Add</button>
            </td>
        </tr>
    </table>
    </form>
</div>