<div><!-- class="light-table-filter" data-table="order-table"-->
    <input id="search-string" type="text" placeholder="Search..." ng-model="filter">
    <br><br>
    <table class="order-table table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Delete</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in vm.contacts | filter : filter" id="contactList" ng-class="{ selected : contact.selected }">
                <td>
                    <a class="edit-link" href="#/new/{{contact._id}}">{{ contact.name }}</a>
                </td>
                <td>
                    {{ contact.phone}}
                </td>
                <td>
                    <a href ng-click="vm.removeItem(contact._id)" class="delete-link">Delete</a>
                </td>
                <td>
                    <input type="checkbox" ng-model="contact.selected">
                </td>
            </tr>
        </tbody>
    </table>
</div>